
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

h1 {
    color:rgb(95, 66, 66);
    text-align: center;
    margin-bottom: 25px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #202423;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:aliceblue;
}

button[type="submit"]:hover {
    background-color: #a3a137;
}

#qResult {
    margin-top: 25px;
    text-align: center;
}

#qResult p {
    font-size: 20px;
}